.mo-slot-machine{
  display: flex;
  transform: translate3d(0);
  &__line{
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        .mo-slot-machine__list.mo-slot-machine__animate {
          animation-delay: 0.3s * $i - 0.3s;
        }
      }
    }
  }

  &__list{
    &.mo-slot-machine__animate {
      animation: brSlotMachine cubic-bezier(1, 0, 0, 1) forwards;
    }
  }

  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes brSlotMachine {
  to {
    transform: translateY(0);
  }
}
